* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

/* Loader */

.loader {
   position: fixed;
   z-index: 10;
   width: 100%;
   height: 100vh; // Pleine hauteur de la fenêtre
   background: var(--main-color);
   display: flex;
   justify-content: center;
   align-items: center;
   animation: flash 3s ease forwards;

   .loading {
      color: var(--secondary-color);
      text-shadow: 0 0 10px var(--shadow-color);
      font-size: 60px;
      letter-spacing: 10px;
      animation: wave 2s infinite; // Effet de vague
   }
}

@keyframes flash {
   90% {
      opacity: 1;
   }

   100% {
      opacity: 0;
      display: none;
   }
}

@keyframes wave {
   0% {
      transform: translateX(0); // Position d'origine
   }
   25% {
      transform: translateX(10px);  // Déplacez vers la droite
   }
   50% {
      transform: translateX(0px); 
   }
   75% {
      transform: translateX(10px); 
   }
   100% {
      transform: translateX(0px);
   }
}


/* main */

.main__location {
   background-color: #eaeaea;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;

   i {
      margin-right: 10px;
   }
}


.main__description {
   flex-direction: column;
   padding: 30px;
   text-align: center;
   background-color: #f6f6f6;
   display: flex;
   justify-content: center;
   align-items: center;

   &--text {
      font-weight: 300;
      margin: 20px 0 20px 0;
   }

   &--btn {
      padding: 20px;
      background: linear-gradient(to bottom, #FF79DA, var(--main-color) 80%);
      cursor: pointer;
      color: #fff;
      border-radius: 30px;
      box-shadow: 0px 4px 10px 0px var(--shadow-color);
   }
}


.main__process {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 30px;

   h2 {
      align-self: flex-start;
      margin-bottom: 20px;
   }
}
.main__process--choice {
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-direction: row-reverse;
   cursor: pointer;
   position: relative;
   background-color: #f6f6f6;
   border-radius: 30px;
   margin-bottom: 30px;
   padding: 20px 0 20px 0;
   box-shadow: 0px 4px 10px 0px #00000040;
 
   p {
     padding-left: 30px;
   }
 
   i {
     margin-right: 10px;
     color: #7E7E7E;
   }
 
   div {
     width: 30px;
     height: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     border-radius: 50%;
     background-color: #9356dc;
     color: #fff;
     left: -3%;
   }
 }


.main__restaurant {
   background-color: #f6f6f6;
   padding: 40px 20px 20px 20px;
 
   h2 {
     margin-bottom: 10px;
   }
 
   .card {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 
     a {
       width: 100%;
       border-radius: 5%;
       overflow: hidden;
       margin: 10px;
       box-shadow: 0px 4px 10px 0px var(--shadow-color);
       height: 18.75rem;
       cursor: pointer;
     }
   }
 
   .card__info {
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 30%;
     padding: 10px;
   }
 
   a figure {
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
 }