/* Mixins */
@import "mixins";
@import "variables";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

/* Loader */

.loader {
   position: fixed;
   z-index: 10;
   width: 100%;
   height: 100vh; // Pleine hauteur de la fenêtre
   background: $main-color ;
   @include center;
   animation: flash 3s ease forwards;

   .loading {
      color: #F2F2F2;
      text-shadow: 0 0 10px $shadow-color;
      font-size: 60px;
      letter-spacing: 10px;
      animation: wave 2s infinite; // Mouvements du texte
   }
}

@keyframes flash {
   90% {
      opacity: 1;
   }

   100% {
      opacity: 0;
      display: none;
   }
}

@keyframes wave {
   0% {
      transform: translateX(0); // Position d'origine
   }

   25% {
      transform: translateX(10px); // Déplacez vers la droite
   }

   50% {
      transform: translateX(0px);
   }

   75% {
      transform: translateX(10px);
   }

   100% {
      transform: translateX(0px);
   }
}


/* main */

.main__location {
   background-color: #eaeaea;
   @include center;
   padding: 20px;

   i {
      margin-right: 10px;
   }
}


.main__description {
   flex-direction: column;
   padding: 30px;
   text-align: center;
   background-color: #f6f6f6;
   @include center;

   &--text {
      font-weight: 300;
      margin: 20px 0 20px 0;
   }

   &--btn {
      @include style-btn;
      box-shadow: 0 2px 8px $shadow-color;

      &:hover {
         @include hover-btn;
      }
   }
}


.main__process {
   @include center;
   flex-direction: column;
   padding: 3.125rem 1.25rem 2.5rem;

   h2 {
      align-self: flex-start;
      margin-bottom: 20px;
   }
}

.main__process--choice {
   width: 100%;
   max-width: 40rem;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-direction: row-reverse;
   cursor: pointer;
   position: relative;
   background-color: #f6f6f6;
   border-radius: 30px;
   margin-bottom: 30px;
   padding: 20px 0 20px 0;
   box-shadow: 0px 4px 10px 0px $shadow-color;

   p {
      padding-left: 30px;
   }

   i {
      margin-right: 10px;
      color: #7E7E7E;
   }

   div {
      width: 30px;
      height: 30px;
      @include center;
      position: absolute;
      border-radius: 50%;
      background-color: $main-color;
      color: #fff;
      left: -1rem;
   }
}


.main__restaurant {
   padding: 3.125rem 1.25rem 2.5rem;
   background-color: #f6f6f6;

   h2 {
      margin-bottom: 10px;
   }

   .card {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0 3.125rem;
      margin: 0 auto;
      width: 100%;
      max-width: 125rem;

      a {
         width: 100%;
         max-width: 40rem;
         height: 18rem;
         border-radius: 1.5rem;
         overflow: hidden;
         margin: 1.25rem 0;
         color: #000;
         box-shadow: 0px 4px 10px 0px $shadow-color;
         cursor: pointer;
      }

      .news {
         position: relative;

         &::before {
            content: "Nouveau";
            position: absolute;
            background-color: $tertiary-color;
            color: $news-color;
            @include center;
            top: 10px;
            right: 10px;
            border-radius: 0.5rem;
            padding: 6px;
         }

      }
   }

   .card__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 30%;
      padding: 10px;

      h3 {
         display: flex;
         align-items: center;
         justify-content: space-between;
      }

      &--heart {
         @include center;
         &:hover {
            transition: all 0.8s ease-in-out;
            background: $degrade-color;
            background-clip: text; //fond appliqué à la zone texte
            -webkit-text-fill-color: transparent;    // couleur de remplissage du texte 
         }
      }
   }

   a figure {
      height: 70%;
      @include center;
   }
}