* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

/* Loader */

.loader {
   position: fixed;
   z-index: 10;
   width: 100%;
   height: 100vh;
   background: var(--main-color);
   display: flex;
   justify-content: center;
   align-items: center;
   animation: flash 1.5s linear forwards;

   .loading {
      color: var(--secondary-color);
      text-shadow: 0 0 10px var(--shadow-color);
      font-size: 60px;
      letter-spacing: 10px;
   }
}

@keyframes flash {
  90% {
       opacity: 1;
   }
   100% {
       opacity: 0;
   }
}