/* Mixins et variables */
.main__background {
  max-height: 30vh;
}

.header {
  position: relative;
}
.header__return {
  position: absolute;
  left: 5%;
  padding: 5px;
}
.header__return i {
  font-size: 25px;
}

.main__menu {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: -50px;
  width: 100%;
  max-width: 1440px;
  border-radius: 4rem 4rem 0 0;
  margin: auto;
  gap: 40px;
}
.main__menu--title {
  font-size: 35px;
  display: flex;
  text-align: center;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  padding: 1.25rem;
  margin-top: 3rem;
  width: 100%;
  justify-content: space-between;
  border-radius: 4rem 4rem 0 0;
  background-color: #f6f6f6;
}
@media screen and (min-width: 1024px) {
  .main__menu--title {
    justify-content: center;
  }
}
.main__menu .heart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__menu .heart:hover {
  transition: all 0.8s ease-in-out;
  background: linear-gradient(to bottom, #9356dc, #FF79DA 80%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main__menu--entrance, .main__menu--dishes, .main__menu--dessert {
  padding: 0 15px 0 35px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main__menu--entrance, .main__menu--dishes, .main__menu--dessert {
    width: 100%;
    max-width: 60rem;
  }
}
.main__menu--entrance h3, .main__menu--dishes h3, .main__menu--dessert h3 {
  font-size: 22px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
  font-weight: 300;
}
.main__menu--entrance h3::before, .main__menu--dishes h3::before, .main__menu--dessert h3::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
}
.main__menu--btn {
  padding: 20px;
  background: linear-gradient(to bottom, #9356dc, #FF79DA 80%);
  cursor: pointer;
  color: white;
  font-weight: 400;
  border-radius: 30px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: all 1s ease-in-out;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  margin: 0 auto;
}
.main__menu--btn:hover {
  box-shadow: 5px 5px 5px black;
  background: linear-gradient(to bottom, #9356dc, #FF79DA 80%);
}

.meal {
  display: flex;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 1.25rem;
  background-color: #ffffff;
  margin: 15px;
  max-width: 40rem;
}
.meal--description {
  font-size: 22px;
  width: 100%;
  padding: 10px;
  margin: 10px;
}
.meal--description p {
  font-weight: 200;
}
.meal--price {
  font-size: 20px;
  font-weight: 500;
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
  padding: 10px 25px 10px 0;
}
.meal--check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -65px;
  width: 65px;
  padding: 0 0.9375rem;
  background-color: #99E2D0;
  transition: margin-right 0.4s ease-in-out;
}
.meal--check::after {
  content: "\f00c";
  font-family: "FontAwesome";
  padding: 5px;
  border-radius: 50%;
  color: #99E2D0;
  font-size: 15px;
  background-color: #fff;
  transition: transform 0.4s ease-in-out;
}
.meal:hover .meal--check, .meal:focus .meal--check {
  margin-right: 0;
}
.meal:hover .meal--check::after, .meal:focus .meal--check::after {
  transform: rotate(360deg);
}/*# sourceMappingURL=menu.css.map */